<!DOCTYPE html>
<html>
<head>
  <title>Clickbait</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<link href="assets/styles.scss" rel="stylesheet" type="text/css" />
<link href="assets/bootstrap.scss" rel="stylesheet" type="text/css" />

<%= render 'layouts/facebook' %>

<%= yield %>



</body>
</html>
